<% if !user_signed_in? %>
  <div class = "jumbotron">
      <h1>Sign Up</h1>
      <p> Review your favourite movies </p>
      <p> <%= link_to "Signup to write a review!", new_user_registration_path, class: "active btn btn-primary btn-lg btn-block"%> </p>
      <p> <%= link_to "Login!", new_user_session_path, class: "active btn btn-success btn-lg btn-block"%> </p>
  </div>
<% end %>

<div class="row">
  <% @movies.each do |movie| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= link_to (image_tag movie.image.url(:medium), class: 'image'), movie %>
      </div>
    </div>
  <% end %>
</div>