<% if !user_signed_in? %>
  <div class = "jumbotron" >
    <h1>Sign Up</h1>
    <p> <%= link_to "Signup to write a review!", new_user_registration_path, class: "btn btn-primary btn-lg"%> </p>
  </div>
<% end %>

<div class="row">
  <% @movies.each do |movie| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= link_to (image_tag movie.image.url(:medium), class: 'image'), movie %>
      </div>
    </div>
  <% end %>
</div>